.centrado { 
    align-items: center;
    width: 40%;

  }
  .cardbodyc{
    text-align: center;
  }

  .buttonpad{
    padding: 10px;
  }
  .size{
    align-items: center;
    text-align: center;
  }