.Dishes__button{
    margin: 0 0 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin: 10px;
}

.Dishes__button:hover{
    color: #000;
    background-color: #ccc;
    transition: all 0.3s ease;
}

.Dishes__button:active{
    background-color: #ccc;
    transition: all 0.3s ease;
}

.Dishes-buttons__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;

}
.Dishes-buttons__container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;

}


/* @media (max-with: 900px) {
    .Dishes-buttons__container{
        flex-direction: column;
    }
} */