/* * {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
} */
.FormDish__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 500px;
}
.FormDish__form{
	display: flex;
	flex-direction: column;
	align-items: center;
}


body {
	background: #03f40b;
	font-family: 'Open Sans', sans-serif;
}
.formulario{
	scale: 100%;
	transition: .5s;
}

 /* .contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
    background: #57fc05f4;
}  */

/* .formulario {
	min-width: 600px;
	margin-top: 50px;
	background: #fff;
	border-radius: 2px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.912) 0px 1px 4px;
	border-radius: 5px;
} */

.formulario > div {
	margin-bottom: 20px;
	border-radius: 5px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #000000;
	border-radius: 5px;
}

.formulario .Text-Box,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #020202;
    background-color: rgb(253, 253, 253);
	border-radius: 5px;
}

 .formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
	border-radius: 5px;
} 

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
	border-radius: 5px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
	border-radius: 5px;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
	border-radius: 5px;
}



.formulario .Lista{
	width: 100%;
    background-color: #fff;
    color: #000000;
	border-radius: 5px;
}

@media screen and (max-width: 600px) {
	.formulario {
		scale: 75%;
		transition: .5s;
	}
}

@media screen and (max-width: 500px) {
	.formulario {
		scale: 65%;
		transition: .5s;
	}
}

@media screen and (max-width: 400px) {
	.formulario {
		scale: 55%;
		transition: .5s;
	}
}
	
