 
.card {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10%;
    padding: 0px;
    
}

.card .face-back{
    background-color: rgb(255, 253, 253);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    box-shadow: 5px 5px 10px 5px rgb(84, 82, 82);
}

.card .face-front {
    height: 100%;
    width: 100%;
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 1px 1px 5px 1px rgba(255, 253, 253,);
    background-color: rgb(255, 253, 253);
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 3px;
}


.card .face-front h6 {
    width: 100%;
    height: 45px;
    line-height: 20px;
    color: rgb(10, 10, 10);
    text-align: center;
}

.card .face-back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(255, 253, 253);
    padding: 0px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #000;
    width: 100%;
    height: 100%;
}   



.card .face-back .link a {
    color: #070606;
    position: relative;
    line-height: 18em;
}

.card:focus.face-front {

    transform: perspective(600px) rotateY(180deg);
}

.card:active .face-back {
    transform: perspective(900px) rotateY(360deg);
}

.card .price{
    color: rgb(10, 10, 10);
}
.card .price span{
    color:rgb(10, 10, 10);
    font-size: 1.3rem;
    font-weight: 500;

}
.card .description{
    color:rgb(47, 46, 46);
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    margin-top: 5%;
}
.card .shopping_icon{
    border-radius: 5px;
    background-color: #22201f;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.card .shopping_icon box-icon{
    fill: white;
}

@media screen and (max-width: 560px) {
    .card.description{
        font-size: 0.6rem;
        font-weight: 500;
        display: flex;
    }
    .card .back .link {
        border-top: solid 1px #f3f3f3;
        height:400px;
        line-height: 50px;
    }
    .card.price span{
        font-size: 1rem;
        font-weight: 500;
    
    }
    .card .front h6 {
        width: 100%;
        height: 30px;
        line-height: 45px;
        text-align: center;
    }
    .card.price{
        font-size: 1rem;
    }
    
    .card .shopping_icon{
        padding: 0px;
        cursor: pointer;
        
    }
    .card .shopping_icon .box-icon{
        fill: white;
        padding: 0px;


        
    }
    
}

