.card{
    box-shadow: 5px 5px 10px 5px rgba(223, 182, 0, 0.966);
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}

.card-back, .card-front{
    background: #02010c;
    border-radius: 10px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.card-back,.card-front:hover{
    box-shadow: 5px 5px 10px 5px rgba(223, 182, 0, 0.966);
}

.card-back,.card-front h6{
    color:darkorange;
    text-align: center;
}  
.price{
    color: rgb(238, 243, 248);
}
.price span{
    color:darkorange;
    font-size: 1.3rem;
    font-weight: 500;

}
.description{
    color: darkorange;
    font-size: 1.2rem;
    font-weight: 500;
}
.card-back{
    position: absolute;
    transform: rotateY(180deg);
}
