.single-product{
    background: #02010c;
    border-radius: 10px;
    cursor: pointer;

}
.single-product:hover{
    box-shadow: 5px 5px 10px 5px rgba(223, 182, 0, 0.966);
}

.single-product h6{
    color:darkorange;
    text-align: center;
}  
.price{
    color: rgb(238, 243, 248);
}
.price span{
    color:darkorange;
    font-size: 1.3rem;
    font-weight: 500;

}