.p {
    background-color: "#98B85A";
    color: "tomato";
    /* border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; */
}
/* .orderActiveOrders__value {
    background-color: "#55711D";
    margin: "15px";
    padding: "1px" */
/* } */

/* p {
    color: red;
} */